{% extends 'base.html' %}
{% load static %}

{% block page_header %}Sites{% endblock page_header %}

{% block main-ng-controller %}SiteListController{% endblock main-ng-controller %}

{% block main %}
<div class="row">
    <div class="col-lg-8 push-15">
        <ul class="nav nav-pills">
            <li ng-class="{ active: filter == ''}"><a href="#" ng-click="filter = ''">All</a></li>
            <li ng-class="{ active: filter == 'drupal'}"><a href="#" ng-click="filter = 'drupal'">Drupal</a></li>
            <li class="disabled"><a href="#">Silverstripe</a></li>
            <li class="disabled"><a href="#">Moodle</a></li>
            <li class="disabled"><a href="#">Django</a></li>
            <li class="disabled"><a href="#">Mezzanine</a></li>
            <li class="disabled"><a href="#">Other</a></li>
        </ul>
    </div><!-- /.col-lg-6 -->
    <div class="col-lg-4 push-15">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search sites..." ng-model="search" ng-model-options="{ debounce: 100 }">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
            </span>
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
</div>
<table class="table table-bordered table-hover push-50" infinite-scroll="loadSites()"
       infinite-scroll-distance="1" infinite-scroll-listen-for-event="sites:updated" ng-cloak>
    <thead>
        <tr>
            <th>Site</th>
            <th>Vulnerabilities</th>
            <th>Type</th>
            <th>Version</th>
            <th>Environment</th>
            <th>URL</th>
            <th>Last contact</th>
        </tr>
    </thead>
    <tbody>
        {% verbatim %}
        <tr ng-repeat="site in sites">
            <td><a href="{% endverbatim %}{% url 'sites:site-list' %}{% verbatim %}{{ site.pk }}">{{ site.string }}</a></td>
            <td align="right">{{ site.vulnerability_count ? site.vulnerability_count : '&mdash;' }}</td>
            <td>{{ site.type }}</td>
            <td align="right">{{ site.core }}</td>
            <td>{{ site.environment }}</td>
            <td><a href="{{ site.url }}" target="_blank">{{ site.url }}</a></td>
            <td>{{ site.date_last_received | date:'dd MMM yy' }}</td>
        </tr>
        {% endverbatim %}
        <tr ng-show="!loading && sites.length == 0">
            <td colspan="5">No sites</td>
        </tr>
    </tbody>
</table>
<span us-spinner="{radius:8, width:3, length: 6, lines: 11, opacity: 0.1, speed: 1.2}" class="spinner" spinner-on="loading"></span >
{% endblock main %}

{% block javascript-angular %}
{{ block.super }}
<script src="{% static 'theme/js/controllers/siteListController.js' %}"></script>
{% endblock javascript-angular %}
