{% extends 'base.html' %}
{% load static %}

{% block page_header %}Site: {{ site }}{% endblock page_header %}

{% block main-ng-controller %}{% endblock main-ng-controller %}

{% block main %}
<div class="row">
    <div class="col-sm-12 push-15">
        <a href="{% url 'sites:site-list' %}" class="btn btn-primary btn-sm" role="button">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back to Sites
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">Site Info</div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th>Name</th>
                            <td>{{ site.name }}</td>
                        </tr>
                        <tr>
                            <th>Hostname</th>
                            <td>{{ site.hostname }}</td>
                        </tr>
                        <tr>
                            <th>URL</th>
                            <td>{{ site.url|urlize }}</td>
                        </tr>
                        <tr>
                            <th>Root</th>
                            <td>{{ site.root }}</td>
                        </tr>
                        <tr>
                            <th>Title</th>
                            <td>{{ site.title }}</td>
                        </tr>
                        <tr>
                            <th>Environment</th>
                            <td>{{ site.environment }}</td>
                        </tr>
                        <tr>
                            <th>Keys</th>
                            <td>
                                <ul>
                                    {% for key in site.keys.all %}
                                    <li>{{ key }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        {% if site.label == 'Drupal' %}
        <div class="panel panel-default">
            <div class="panel-heading">Drupal Info</div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th>Core</th>
                            <td>{{ site.core }}</td>
                        </tr>
                        <tr>
                            <th>Core Version</th>
                            <td>
                              {% if vulnerable_core %}
                              <div class="label label-danger">{{ site.core_version }} vulnerable</div>
                              <hr/>
                              <ul>
                                {% for advisory in vulnerable_core %}
                                <li><a href="{% url 'drupal:advisory-detail' advisory.pk %}">{{ advisory.title }}</a></li>
                                {% endfor %}
                              </ul>
                              {% else %}
                              <span class="label label-success">{{ site.core_version }}</span>
                              {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Slogan</th>
                            <td>{{ site.slogin }}</td>
                        </tr>
                        <tr>
                            <th>Nodes</th>
                            <td>{{ site.nodes }}</td>
                        </tr>
                        <tr>
                            <th>Revisions</th>
                            <td>{{ site.revisions }}</td>
                        </tr>
                        <tr>
                            <th>Users</th>
                            <td>{{ site.users }}</td>
                        </tr>
                        <tr>
                            <th>Vulnerable Modules</th>
                            <td>
                                {% if vulnerable_modules %}
                                <p><span class="label label-danger">{{ vulnerable_modules|length }} vulnerable module{{ vulnerable_modules|length|pluralize }}</span><p/>
                                <ul>
                                    {% for module in vulnerable_modules %}
                                    <li><a href="{% url 'drupal:module-detail' module.project.pk %}">{{ module }}</a></li>
                                    {% endfor %}
                                </ul>
                                {% else %}
                                <span class="label label-success">No vulnerable modules</span>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Vulnerable Themes</th>
                            <td>
                                {% if vulnerable_themes %}
                                <p><span class="label label-danger">{{ vulnerable_themes|length }} vulnerable theme{{ vulnerable_themes|length|pluralize }}</span><p/>
                                <ul>
                                    {% for module in vulnerable_themes %}
                                    <li><a href="{% url 'drupal:module-detail' module.project.pk %}">{{ module }}</a></li>
                                    {% endfor %}
                                </ul>
                                {% else %}
                                <span class="label label-success">No vulnerable themes</span>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Modules</th>
                            <td>
                                <ul>
                                    {% for module in site.modules.all %}
                                    <li><a href="{% url 'drupal:module-detail' module.project.pk %}">{{ module }}</a></li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th>Themes</th>
                            <td>
                                <ul>
                                    {% for theme in site.themes.all %}
                                    <li><a href="{% url 'drupal:module-detail' theme.project.pk %}">{{ theme }}</a></li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Reports</div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tbody>
                        {% for report in site.reports %}
                        <tr><td>{{ report }}</td></tr>
                        {% empty %}
                        <tr><td>No reports found</td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock main %}
