{% extends 'base.html' %}
{% load static %}

{% block page_header %}Advisory: {{ advisory }}{% endblock page_header %}

{% block main-ng-controller %}{% endblock main-ng-controller %}

{% block main %}
<div class="row">
    <div class="col-sm-12 push-15">
        <a href="{% url 'drupal:advisory-list' %}" class="btn btn-primary btn-sm" role="button">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back to Advisories
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Metadata</div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th>GUID</th>
                            <td>{{ advisory.guid }}</td>
                        </tr>
                        <tr>
                            <th>Title</th>
                            <td>{{ advisory.title }}</td>
                        </tr>
                        <tr>
                            <th>URL</th>
                            <td>{{ advisory.url|urlize }}</td>
                        </tr>
                        <tr>
                            <th>Source</th>
                            <td>{{ advisory.source }}</td>
                        </tr>
                        <tr>
                            <th>Date Posted</th>
                            <td>{{ advisory.date_posted }}</td>
                        </tr>
                        <tr>
                            <th>Date Updated</th>
                            <td>{{ advisory.date_posted }}</td>
                        </tr>
                        <tr>
                            <th>Date Parsed</th>
                            <td>{{ advisory.date_parsed }}</td>
                        </tr>
                        <tr>
                            <th>Status</th>
                            <td>
                                <span class="label drupal-advisory-label-{{ advisory.status }}">{{ advisory.get_status_display }}</span>
                                {% if advisory.status == 'reviewed' %} by {{ advisory.reviewer }}{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Sites Affected</th>
                            <td>
                                {% if affected %}
                                <p><span class="label label-danger">{{ affected|length }} site{{ affected|length|pluralize }} affected</span><p/>
                                <ul>
                                    {% for drupalsite in affected %}
                                    <li><a href="{% url 'sites:site-detail' drupalsite.pk %}"><span class="environment">[{{ drupalsite.environment }}]</span> {{ drupalsite }}</a></li>
                                    {% endfor %}
                                </ul>
                                {% else %}
                                <span class="label label-success">No sites affected</span>
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Parsed Data</div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    {% if advisory.date_parsed %}
                    <tr>
                        <th>Advisory ID</th>
                        <td>{{ advisory.advisory_id }}</td>
                    </tr>
                    <tr>
                        <th>Cores</th>
                        <td>
                            <ul>
                                {% for core in advisory.cores.all %}
                                <li>{{ core }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>Project</th>
                        <td><a href="{% url 'drupal:module-detail' advisory.project.pk %}">{{ advisory.project }}</a></td>
                    </tr>
                    <tr>
                        <th>Affected Releases</th>
                        <td>
                            {% if advisory.releases.all %}
                            <table class="table">
                                <thead>
                                    <th>Release</th>
                                    <th>Date Published</th>
                                </thead>
                                <tbody>
                                    {% for release in advisory.releases.all %}
                                    <tr>
                                        <td>{{ release }}</td>
                                        <td>{{ release.date }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                                No affected releases
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>Risk</th>
                        <td>{{ advisory.risk }}</td>
                    </tr>
                    <tr>
                        <th>Risk Score</th>
                        <td>{{ advisory.risk_score }}/{{ advisory.risk_score_total }}</td>
                    </tr>
                    <tr>
                        <th>Vulnerabilities</th>
                        <td>
                            <ul>
                                {% for vulnerability in advisory.vulnerabilities.all %}
                                <li>{{ vulnerability }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>CVEs</th>
                        <td>
                            <ul>
                                {% for cve in advisory.cves.all %}
                                <li>{{ cve }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="2">This advisory has not yet been parsed</td>
                    </tr>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock main %}
