{% extends 'base.html' %}
{% load static %}

{% block page_header %}Modules &amp; Themes{% endblock page_header %}

{% block main-ng-controller %}ModuleListController{% endblock main-ng-controller %}

{% block main %}
<div class="row">
    <div class="col-lg-8 push-15">
        <ul class="nav nav-pills">
            <li ng-class="{ active: filter == ''}"><a href="#" ng-click="filter = ''">All</a></li>
            <li ng-class="{ active: filter == 'project_module'}"><a href="#" ng-click="filter = 'project_module'">Modules</a></li>
            <li ng-class="{ active: filter == 'project_theme'}"><a href="#" ng-click="filter = 'project_theme'">Themes</a></li>
        </ul>
    </div><!-- /.col-lg-6 -->
    <div class="col-lg-4 push-15">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search modules &amp; themes..." ng-model="search" ng-model-options="{ debounce: 100 }">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
            </span>
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
</div>
<table class="table table-bordered table-hover push-50"
       infinite-scroll="loadModules()" infinite-scroll-distance="1" infinite-scroll-listen-for-event="modules:updated" ng-cloak>
    <thead>
        <tr>
            <th>Name</th>
            <th>Slug</th>
            <th>Sites Using</th>
            <th>Maintenance Status</th>
            <th>Development Status</th>
            <th>URL</th>
        </tr>
    </thead>
    {% verbatim %}
    <tbody>
        <tr ng-repeat="module in modules">
            <td><a href="{% endverbatim %}{% url 'drupal:module-list' %}{% verbatim %}{{ module.pk }}">
                {{ module.name }}
                <span ng-if="!module.name" class='text-muted'>(no name)</span>
            </a></td>
            <td>{{ module.slug }}</td>
            <td align="right">{{ module.sites_using.length ? module.sites_using.length : '&mdash;'}}</td>
            <td>{{ module.maintenance_status }}</td>
            <td>{{ module.development_status }}</td>
            <td><a href="{{ module.url }}" target="_blank">{{ module.url }}</a></td>
        </tr>
        <tr ng-show="!loading && modules.length == 0">
            <td colspan="5">No modules or themes</td>
        </tr>
    </tbody>
    {% endverbatim %}
</table>
<span us-spinner="{radius:8, width:3, length: 6, lines: 11, opacity: 0.1, speed: 1.2}" class="spinner" spinner-on="loading"></span >
{% endblock main %}

{% block javascript-angular %}
{{ block.super }}
<script src="{% static 'theme/js/controllers/moduleListController.js' %}"></script>
{% endblock javascript-angular %}
