@import "variables_custom";     // Enables the use of the bootstrap variables


$sidebar-width: 220px;
$sidebar-width-collapsed: 65px;

.glyphicon-gap {
    margin-right: 10px;
}

/* Sidebar toggle */
#wrapper {
    padding-left: $sidebar-width-collapsed;
    @include transition(all 0.5s ease);
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: $sidebar-width;
    width: $sidebar-width-collapsed;
    height: 100%;
    margin-left: -$sidebar-width;
    overflow: hidden;
    overflow-y: auto;
    background: $gray-dark;
    @include transition(all 0.5s ease);
}

#page-content-wrapper,
#page-header-wrapper {
    position: absolute;
    left: $sidebar-width-collapsed;
    right: 0;
    @include transition(padding 0.2s ease);
}

/* Page header - title, buttons etc. */
#page-header-wrapper {
    height: 65px;
    position: absolute;
    background: #eee;
    border-bottom: #ddd 1px solid;
    line-height: 65px;
    padding: 0 15px;

    #page-header {
        font-size: 24px;
    }

    // Adjust to allow for line height of the wrapper
    .dropdown ul.dropdown-menu {
        margin-top: -10px;
    }
}

/* Page content */
#page-content-wrapper {
    top: 65px;
    padding: 15px 0;
}

/* Sidebar nav */
.sidebar-nav {
    position: absolute;
    top: 0;
    width: $sidebar-width;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        @include transition(all 0.5s ease);
        text-indent: 12px;
        line-height: 40px;

        &.sidebar-brand {
            text-indent: 15px;
        }

        &.sidebar-subheader {
            color: #777;
            font-size: 12px;
            font-weight: bold;
            text-transform: uppercase;
            margin-left: 10px;
            margin-top: 10px;
            line-height: 25px;
        }

        a {
            display: block;
            text-decoration: none;
            color: #999999;

            &:hover {
                text-decoration: none;
                color: #fff;
                background: rgba(255,255,255,0.2);
            }
            &:active,
            &:focus {
                text-decoration: none;
            }

            &.active {
                color: #fff;
                background: $gray-darker;
            }
        }

        .glyphicon-gap {
            margin-right: 15px;
        }

        .glyphicon-gap-left {
            margin-left: 0px;
        }

        .menu-text,
        .sidebar-title {
            opacity: 0;
            @include transition(opacity 0.5s ease-out);
        }
    }
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 65px;
    margin-bottom: 25px;
    background-color: $gray-darker;

    .sidebar-icon img {
        width: 40px;
        padding-bottom: 5px
    }

    a {
        color: #999999;
        font-size: 20px;
        &:hover {
            color: #fff;
            background: none;
        }
    }

    a.toggle-control {
        height: 25px;
        width: 25px;
        background: $gray;
        font-size: 12px;
        text-indent: 3.5px;
        line-height: 26px;
        position: absolute;
        right: 0;
        @include transition(right 0.5s ease);

        &:hover {
            color: #fff;
            background: $gray-light;
        }
    }
}

/* Sidebar toggle - wide screens */
@media(min-width: 768px) {

    html {
        overflow-y: scroll;
    }

    #wrapper {
        padding-left: $sidebar-width;

        &.toggled {
            padding-left: $sidebar-width-collapsed;

            #sidebar-wrapper {
                width: $sidebar-width-collapsed;

                .sidebar-nav li {
                    .menu-text,
                    .sidebar-title {
                        opacity: 0;
                    }
                }
            }
            #page-header-wrapper,
            #page-content-wrapper {
                position: relative;
            }

            a.toggle-control {
                right: $sidebar-width - $sidebar-width-collapsed;
            }
        }
    }

    #sidebar-wrapper {
        width: $sidebar-width;
    }

    #page-header-wrapper,
    #page-content-wrapper {
        position: relative;
        left: 0;
        right: 0;
    }

    #page-header-wrapper {
        padding: 0 20px;
    }

    #page-content-wrapper {
        top: 0;
        padding: 20px 5px;
    }

    .sidebar-nav {
        li {
            .menu-text,
            .sidebar-title {
                opacity: 1;
            }
        }
    }
} /* End: @media(min-width: 768px) */

.spinner {
    position: relative;
    left: 50%;
    bottom: 20px;
}

.drupal-advisory-label-downloaded { @extend .label-info; }
.drupal-advisory-label-parsed { @extend .label-success; }
.drupal-advisory-label-reviewed { @extend .label-primary; }
.drupal-advisory-label-ignored { @extend .label-default; }
.drupal-advisory-label-failed { @extend .label-danger; }
