{% extends 'base.html' %}
{% load static %}

{% block page_header %}Advisories{% endblock page_header %}

{% block main-ng-controller %}ssAdvisoryListController{% endblock main-ng-controller %}

{% block main %}
<div class="row">
    <div class="col-lg-8 push-15">
        <ul class="nav nav-pills">
            <li ng-class="{ active: filter == ''}"><a href="#" ng-click="filter = ''">All</a></li>
            {% for source in advisory_sources %}
            <li ng-class="{ active: filter == '{{source.slug}}'}">
                <a href="#" ng-click="filter = '{{source.slug}}'">{{source.title}}</a>
            </li>
            {% endfor %}
        </ul>
    </div><!-- /.col-lg-6 -->
    <div class="col-lg-4 push-15">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search advisories..." ng-model="search" ng-model-options="{ debounce: 100 }">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
            </span>
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
</div>

<table class="table table-bordered table-hover push-50" infinite-scroll="loadAdvisories()"
       infinite-scroll-distance="1" infinite-scroll-listen-for-event="advisories:updated" ng-cloak>
    <thead>
        <tr>
            <th>Title</th>
            <th>Affected</th>
            <th>Source</th>
            <th>Date</th>
            <th>Risk</th>
            <th>Status</th>
        </tr>
    </thead>
    {% verbatim %}
    <tbody>
        <tr ng-repeat="advisory in advisories">
            <td><a href="{% endverbatim %}{% url 'silverstripe:advisory-list' %}{% verbatim %}{{ advisory.pk }}">{{ advisory.title }}</a></td>
            <td align="right">{{ advisory.affected_sites.length ? advisory.affected_sites.length : '&mdash;' }}</td>
            <td>{{ advisory.source }}</td>
            <td><span>{{ advisory.date_posted | amUtc | amDateFormat:'lll' }}</span></td>
            <td class="capitalise">{{ advisory.risk }}</td>
            <td class="capitalise">{{ advisory.status }}</td>
        </tr>
        <tr ng-show="!loading && advisories.length == 0">
            <td colspan="6">No advisories</td>
        </tr>
    </tbody>
    {% endverbatim %}
</table>
<span us-spinner="{radius:8, width:3, length: 6, lines: 11, opacity: 0.1, speed: 1.2}" class="spinner" spinner-on="loading"></span >
{% endblock main %}

{% block javascript-angular %}
{{ block.super }}
<script src="{% static 'theme/js/controllers/ssadvisoryListController.js' %}"></script>
{% endblock javascript-angular %}
