body {
  background-color: #fff;
}

.row {
  .width-half {
    width: 48%;
  }
  .width-wide {
    width: 68%;
  }
  .width-narrow {
    width: 29%;
  }
  .width-full {
    width: 100%;
  }
  .dashboard-panel {
    display: inline-block;
    height: 400px;
    border: 1px solid #ddd;
    background-color: #fff;
    margin: 10px;
  }

  .core-panel {
    width: 29%;
  }

  .drupal-panel, .sstripe-panel {
    width: 68%;
  }

  .drupal-panel.drupal {
    display: inline-block;
  }

  .drupal-panel.sstripe {
    display: none;
  }

  .sstripe-panel.drupal {
    display: none;
  }

  .site-subscriptions-panel {
    border: 1px solid #ddd;
    /* Stolen from .advisories-panel below. Make it a mixin? */
    .panel-body {
      margin: 5px;

      table {
        width: 100%;
        max-width: 100%;
        border: 1px solid #ddd;

        thead>tr {
          th:first-child {
            border-right: 1px solid #ddd;
          }

          th {
            padding: 8px;
            line-height: 1.3;
            text-align: left;
            vertical-align: bottom;
            border-bottom: 1px solid #ddd;
            border-bottom-width: 2px;
          }
        }
      }
    }
  }

  .advisories-panel {
    border: 1px solid #ddd;

    .panel-body {
      margin: 5px;

      table {
        width: 100%;
        max-width: 100%;
        border: 1px solid #ddd;

        thead>tr {
          th:first-child {
            border-right: 1px solid #ddd;
          }

          th {
            padding: 8px;
            line-height: 1.3;
            text-align: left;
            vertical-align: bottom;
            border-bottom: 1px solid #ddd;
            border-bottom-width: 2px;
          }
        }
      }
    }
  }

  .panel-heading {
    color: #333333;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    padding: 10px 15px;
  }


  .floatr {
    float: right;
  }
}
