{% extends 'base.html' %}
{% load static %}

{% block page_header %}Dashboard{% endblock page_header %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'c3/c3.css' %}">
{% endblock %}

{% block javascript %}
{{ block.super }}
<script src="{% static 'd3/d3.min.js' %}" charset="utf-8"></script>
<script src="{% static 'c3/c3.min.js' %}"></script>
<script type="text/javascript">
var chart = c3.generate({
    bindto: '#chart-core',
    data: {
        columns: [
            {% for x in core_version_data %}
            ['Drupal {{ x.0 }}', {{ x.1 }}],
            {% endfor %}
        ],
        type: 'pie'
    },
});
var chart = c3.generate({
    bindto: '#chart-drupal',
    data: {
        x: 'x',
        columns: [
            {% autoescape off %}
            ['x', {{drupal_version_labels|join:', '}}],
            ['Site count', {{ drupal_version_data|join:', ' }}]
            {% endautoescape %}
        ],
        type: 'bar'
    },
    bar: {
        width: {
            ratio: 0.5 // this makes bar width 50% of length between ticks
        }
    },
    legend: {
        show: false
    },
    axis: {
        x: {
            type: 'category',
        }
    }
});
</script>
{% endblock %}

{% block main %}
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Drupal sites by major version</div>
            <div class="panel-body">
                <div id="chart-core"></div>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">Drupal sites by version</div>
            <div class="panel-body">
                <div id="chart-drupal"></div>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">Latest Drupal security advisories</div>
          <div class="panel-body">
              <table class="table table-bordered table-hover push-50">
                  <thead>
                      <tr>
                          <th>Advisory</th>
                          <th>Sites Affected</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for advisory in drupal_latest_advisories %}
                      <tr>
                          <td><a href="drupal/advisories/{{ advisory.object.pk }}">{{ advisory.object.title }}</a></td>
                          <td align="right">{% if advisory.affected|length == 0 %}&mdash;{% else %}{{ advisory.affected|length }}{% endif %}</td>
                      </tr>
                      {% endfor %}
                  </tbody>
              </table>

          </div>
        </div>
    </div>
</div>
{% endblock main %}
